body {
    color: orangered;
    background: url(http) ;
    background-size: 95%;
background-attachment: scroll;
background-repeat: space;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRpxt4SkznsJ2hU7Tdyk6IUI4qQ6fROZaV2wg&usqp=CAU);

     
}